*.swp
*.pyc
__pycache__
coco
*.pth
output

training/YOUR_WORKING_DIR/
training/checkpoints/
.idea

model/*
.idea/
output.mp4
evaluate/weights/
evaluate/test_paste/
test/output_error/
test/pic_error/
test/Annotations/
